<!-- Begin oqJSDay2016 -->
<section id="cfp" class="cfp">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>{{ site.oqjsday2016Title }}</h3>
            <p class="text-justify animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.oqjsday2016Description }}</p>
            <a class="btn waves-effect waves-button waves-light waves-float cfp-link" href="{{ site.oqjsday2016Link }}" target="_blank">{{ site.cfpLinkText }}</a>
        </div>
    </div>
</section>
<!-- End CFP -->
