<!-- Begin Tickets 2 Section -->
<section id="tickets" class="tickets-2">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.ticketsTitle }}</h3>
			<div class="animated hiding" data-animation="fadeInDown" data-delay="0">
			{% assign animationDelay = 0 %}
				<div class="widget" id="sympla-widget-88256" height="auto"></div>
				<script src="http://www.sympla.com.br/js/sympla.widget-pt.js/88256"></script>
			</div>
		</div>
	</div>
</section>
<!-- End Tickets 2 Section -->
