.btn {
    font-weight: $bold;
    transition: $base-cubic-transition;
}
.btn-primary {
    color: #fff !important;
    user-select: none;
    text-transform: uppercase;
    border: 0;
    // background: $primary-color !important;
    background: black;
    &:hover, &:focus, &:active, &.active {
        outline: none;
        color: black !important;
        background: #ffdd15; 
    }
}

.jumbotron {
    .btn-primary {
            color: black !important;
            background: #ffdd15;
        &:hover, &:focus, &:active, &.active {
            // color: #fff !important;
            background: white; 
        }
    }
}
