.top-section-hero {
    width: 100%;
    height: 100%;
    padding-top: 0;
    background:#000 !important;

    .jumbotron {
        position: relative;
        top: 52%;
        margin: 0;
        //left: 0;
        transform: translateY(-60%);
        img {
            margin-bottom: 20px;
            width: 100%;
            max-width: 518px;
          }
        @media (max-width: 767px) {
            // margin: 0;
            // padding: 0;
            img {
                padding-left: 8%;
                padding-right: 8%;
            }
        }
        p {
            color: #fff; 
            font-size: 18px;
            font-weight: $light;
            // margin-bottom: 2%;
        }
        .btn {
            margin: 0 3px;
        }
    }
}


/*.typeout-fallback {
    display: none;
    @media (max-width: 767px) {
        display: inline-block;
    }
}*/
.explore {
    margin-left: -16px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    animation: callToAction 3.5s linear 0s infinite;
    @media (max-width: 767px) {
        margin-left: -12.5px;
        bottom: 30px;
        animation: none;
    }
}
.icon-arrow-down {
    width: 32px;
    height: 32px;
    fill: white;
    @media (max-width: 767px) {
        width: 24px;
        height: 24px;
    }
}
@keyframes callToAction {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 0;
        transform: translateY(-16px);
    }
    100% {
        opacity: 0;
        transform: translateY(-16px);
    }
}