.top-section-hero {
    background-color: $base-section-background;
    background-image: url("/img/sections-background/bgtransparent2019.png") !important;
    width: 100%;
    height: 100%;
    padding-top: 0;
    @media (max-width: 767px) {
        // height: 440px;
        background-image: none;
    }
    .jumbotron {
        position: relative;
        top: 54%;
        margin: 0;
        left: 0;
        transform: translateY(-60%);

        .logo2019 {
            background: url("/img/sections-background/logo2019.png") no-repeat center;
            background-size: 100%;
            height:375px;
            max-width:369px;
            width:100%;
            margin: 40px auto;
        }

        .subTitle2019 {
            display: flex;
            list-style: none;
            font-size: 30px;
            font-style: italic;
            letter-spacing: .5rem;
            font-family: $fixed-font-family;
            background: black;
            padding: 5px 25px;
            color: white;
            font-weight: 370;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            justify-content: center;
            -webkit-clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
            clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
            font-weight: lighter;

            .dot {
                padding: 0;
                position: relative;
                top: -9px;
                letter-spacing: .4rem;
            }

            @media (max-width: 767px) {
                width: 90%;
                font-size: 28px;
                letter-spacing: .4rem;

            }
            @media (max-width: 565px) {
                font-size: 18px; 
                letter-spacing: .3rem;

            }
            @media (max-width: 414px) {
                font-size: 14px; 
                letter-spacing: .3rem;
                .dot{top: -5px;}

            }

        }
       
        p {
            font-size: $base-font-size * 2;
            font-weight: $regular;
            margin: 12px 0;
            color: #000000;
        }

        .btn {
            border: none;
            margin: 0 3px;
            text-transform: uppercase;

            &:hover {
                font-size: 1em;
            }
        }
        
        @media (max-width: 767px) {
            margin: 0;
            padding: 0;

            .logo2019 {
                background-size: 90%;
            }
        
            .btn {
                margin: 10px auto;
                width: 80%;
                display: block;
            }
        }
    }
}
.typeout-fallback {
    display: none;
    @media (max-width: 767px) {
        // display: inline-block;
    }
}
.explore {
    margin-left: -16px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    animation: callToAction 3.5s linear 0s infinite;
    @media (max-width: 767px) {
        margin-left: -12.5px;
        bottom: 30px;
        animation: none;
    }
}
.icon-arrow-down {
    width: 32px;
    height: 32px;
    fill: #191919;
    @media (max-width: 767px) {
        width: 24px;
        height: 24px;
    }
}
@keyframes callToAction {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 0;
        transform: translateY(-16px);
    }
    100% {
        opacity: 0;
        transform: translateY(-16px);
    }
}
