.logo {
    background-image: url($logos-sprite);
    background-repeat: no-repeat;
    &.logo-dark {
    	background-position: 0 -1px;
    }
    &.logo-gray {
    	background-position: 0 -63px;
	}
	&.logo-light {
	    background-position: 0 -127px;
	}
}
.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: $icon-fill-color;
    transition: all .5s;
}
.icon-twitter:hover {
    fill: #1bb2e9;
}
.icon-facebook:hover {
    fill: #3c599b;
}